body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#FFFF, #1e201e23 180%);
}

a {
  color: inherit;
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
