.navbar_header {
    position: relative;
    width: 100% !important;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(249, 248, 248);
}

.logo {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}